/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	background-color: #FBF9EF;
	max-width: 100vw;
	max-height: 40vw;
}

.pink1{
	font-family: 'Brasika Display - Trial', sans-serif;
	background-color: #FDAEEE;
	font-size: 1vw;
	position: absolute;
	text-align: center;
	margin-left: 8vw;
	margin-top: 3vw;
	width: 18vw;
	height: 8vw;
	border-style: solid;
	border-width: 2px;
	border-radius: 80px;
	border-color: #000000;
}
.blue1{
	font-family: 'Brasika Display - Trial', sans-serif;
	background-color: #BDDDFA;
	font-size: 3.5vw;
	position: absolute;
	text-align: center;
	margin-left: 16vw;
	margin-top: 8vw;
	width: 64vw;
	height: 22vw;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 45px;
}
.pink2{
	font-family: 'Glacial Indifference', sans-serif;
	text-decoration: none;
	color: black;
	font-size: 1.3vw;
	background-color: #FDAEEE;
	position: absolute;
	text-align: center;
	margin-left: 73vw;
	margin-top: 26vw;
	width: 18vw;
	height: 8vw;
	border-style: solid;
	border-width: 2px;
	border-radius: 80px;
	border-color: #000000;
}
.green{
	font-family: 'Glacial Indifference', sans-serif;
	background-color: #A5F3AD;
	font-size: 1.6vw;
	position: absolute;
	text-align: center;
	margin-left: 15vw;
	margin-top: 36vw;
	width: 66vw;
	height: 7.5vw;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 80px;
}
.blue2{
	background-color: #BDDDFA;
	position: absolute;
	margin-left: 73.5vw;
	margin-top: 36vw;
	width: 7.5vw;
	height: 7.5vw;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 80px;
}
.arrow1{
	position: absolute;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1) rotate(-60deg);
	margin-top: 15vw;
	margin-left: 83vw;
	width: 15vw;
}
.arrow2{
	position: absolute;
	margin-top: 25vw;
	margin-left: -1vw;
	width: 22vw;
	height: 11vw;
}
.arrow3{
	position: absolute;
	transform: rotate(90deg);
	margin-top: 35.5vw;
	margin-left: 75vw;
	object-fit: none;
}
.text{
	color: #FBF9EF;
	filter: invert(85%);
}
.logo1{
	width: 3vw;
	position: absolute;
	margin-left: 45vw;
	margin-top: 45vw;
}
.logo2{
	width: 3vw;
	position: absolute;
	margin-left: 50vw;
	margin-top: 45vw;
}
.logo3{
	width: 3vw;
	position: absolute;
	margin-left: 55vw;
	margin-top: 45vw;
}
