/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  background-color: #FBF9EF;
}
.pink1{
  font-family: 'Brasika Display - Trial', sans-serif;
  background-color: #FDAEEE;
  position: absolute;
  text-align: center;
  margin-left: 8%;
  margin-top: 3%;
  width: 18%;
  height: 16%;
  border-style: solid;
  border-width: 2px;
  border-radius: 80px;
  border-color: #000000;
}
.blue1{
  font-family: 'Brasika Display - Trial', sans-serif;
  background-color: #BDDDFA;
  font-size: 310%;
  position: absolute;
  text-align: center;
  margin-left: 16%;
  margin-top: 8%;
  width: 64%;
  height: 44%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 45px;
}
.pink2{
  font-family: 'Glacial Indifference', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 18px;
  background-color: #FDAEEE;
  position: absolute;
  text-align: center;
  margin-left: 73%;
  margin-top: 26%;
  width: 18%;
  height: 16%;
  border-style: solid;
  border-width: 2px;
  border-radius: 80px;
  border-color: #000000;
}
.green{
  font-family: 'Glacial Indifference', sans-serif;
  background-color: #A5F3AD;
  font-size: 24px;
  position: absolute;
  text-align: center;
  margin-left: 15%;
  margin-top: 36%;
  width: 66%;
  height: 15%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 80px;
}
.blue2{
  background-color: #BDDDFA;
  position: absolute;
  margin-left: 73.5%;
  margin-top: 36%;
  width: 7.5%;
  height: 15%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 80px;
}
.star1{
  position: absolute;
}
.star2{
  position: absolute;
}
.star3{
  position: absolute;
}
.arrow1{
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1) rotate(-60deg);
  margin-top: 15%;
  margin-left: 85%;
}
.arrow2{
  position: absolute;
  margin-top: 25%;
  margin-left: -1%;
  width: 22%;
  height: 22%;
}
.arrow3{
  position: absolute;
  transform: rotate(90deg);
  margin-top: 35.5%;
  margin-left: 75%;
  object-fit: none;
}
.text{
  color: #FBF9EF;
  filter: invert(85%);
}
.logo1{
  width: 3%;
  position: absolute;
  margin-left: 45%;
  margin-top: 45%;
}
.logo2{
  width: 3%;
  position: absolute;
  margin-left: 50%;
  margin-top: 45%;
}
.logo3{
  width: 3%;
  position: absolute;
  margin-left: 55%;
  margin-top: 45%;
}
